@import "https://fonts.googleapis.com/css?family=Open+Sans";
/* colors */

@main-purple: #514a80;
@light-purple: #746995;
.chat {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.chat__contacts {
    width: 480px;
    min-width: 480px;
    max-width: 480px;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: relative;
    z-index: 2;
    .chat-item {
        background-color: #fff;
        border-bottom: 1px solid rgba(13, 9, 37, 0.1);
    }
}

.chat__messages {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    background: url(/images/chat-bg.jpg) no-repeat center;
}

.chat-head {
    display: flex;
    padding: 16px;
    position: relative;
    background-color: @main-purple;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &_light-color {
        background-color: @light-purple;
    }
}

.chat-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
}

.chat-message {
    flex-grow: 1;
    margin-left: 10px;
}

.chat-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chat-message__status {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-info__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-message__body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 5px;
}

/* elements */

.message {
    margin: 0 16px 0 0;
    padding: 0;
    flex-grow: 1;
    line-height: 16px;
    &_last {
        font-size: 12px;
        color: #8c8c8c;
    }
}

.username {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 600;
    color: #343434;
}

.you {
    display: block;
    width: 100%;
    font-size: 12px;
    color: #343434;
}

.delivery-status {
    margin-right: 6px;
    width: 18px;
    height: 18px;
    background: url(/images/readed-message-icon.svg) no-repeat center;
}

.user-icon {
    position: relative;
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 48px;
    overflow: hidden;
    display: inline-block;
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.unread-msg-counter {
    background-color: #eb885e;
    padding: 5px 7px;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
}

.send-time {
    font-size: 13px;
    letter-spacing: 1px;
    color: #8c8c8c;
}